.cabecalho {
    margin-top: 3rem;
    display: flex;
}

.cabecalho__item {
    margin: auto 3rem auto 0;
}

.cabecalho__item-img {
    width: 2.5rem;
}

.cabecalho__item-perfil {
    width: 2.5rem;
    border-radius: 100px;
}

.cabecalho__item--perfil {
    margin-left: 6rem ;
}

@media(min-width: 768px) {
    .cabecalho {
        margin-top: 3rem;
        margin-left: 3rem;
        display: flex;
    }
}